<html>

<title> RSS Feed </title>
<body>
    	<div id="feeds" style="opacity:100; font-family: sans-serif; text-align:left; color:#666; max-width:600px; padding-top: 60px; padding-left: 40px; line-height: 1.45em; font-size: 18px; padding-right:40px; margin-left:auto; margin-right:auto">
{% for i in feedList %}

	<p>
	<img src={{ i.media}} style="float:left"> </img>
	<a href = {{i.link}} > <b><u>{{ i.title}}</b></u>	</a>
	</br>
	<font size="2">{{ i.date}}</font>
	</br>
	</br>
	</p>
	<font size="3">{{ i.description}}</font>
	</br>
	</br>
	
{% endfor %}
</div>
</body></html>
